.hidden {
  display: none;
}

body {
  text-align: center;
  background-color: rgb(107, 132, 253);
  color: white;
  font-family: "Bangers";
  font-size: 20px;
}

h1 {
  font-size: 100px;
  padding: 10px;
}

.dropdown-item {
  font-size: 30px;
}

dropdown {
  font-size: 30px;
}

h3 {
  font-size: 80px;
}
