body {
  text-align: center;
  background-color: rgb(107, 132, 253);
  color: white;
  font-family: "Bangers";
  font-size: 20px;
}

h1 {
  font-size: 80px;
}

button {
  font-size: 25px;
}

button:hover {
  background-color: black;
  color: white;
}

.main {
  text-align: center;

  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  margin-top: 2%;
}

.codeBox {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  width: 30%;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 2%;
}

.addUser {
  margin-top: 2%;
  text-align: center;
}

.playerListHolder {
  list-style-type: none;
  font-size: 20px;
  background-color: rgb(222, 66, 120);
  border-radius: 8px;
  width: 40%;
  margin: 0 auto;
  margin-top: 4%;
  font-size: 40px;
}

#playerList {
  list-style-type: none;
}

h3 {
  text-align: center;
}

#startGamePressed {
  display: none;
}

button {
  font-size: 25px;
}

button:hover {
  background-color: black;
  color: white;
}

input {
  font-size: 25px;
}

input:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.QRCode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding: 5px;
  border-style: double;
  border-width: 2px;
  border-color: black;
  border-radius: 25%;
}

#submit,
#ready {
  width: 30%;
  font-size: 50px;
}

.gameButtons {
  margin-top: 5px;
  margin-bottom: 5px;
}

.h4 {
  font-size: 40px;
}
