body {
  text-align: center;
  background-color: rgb(107, 132, 253);
  color: white;
  font-family: "Bangers";
  font-size: 20px;
}

button {
  font-size: 25px;
}

button:hover {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}

body {
  text-align: center;
  background-color: rgb(107, 132, 253);
  color: white;
  font-family: "Bangers";
  font-size: 20px;
}

h1 {
  font-size: 100px;
  padding: 10px;
}

.dropdown-item {
  font-size: 30px;
}

h3 {
  font-size: 80px;
}

h4 {
  font-size: 50px;
}

.codeBox {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  width: 15%;
  margin: 0 auto;
  font-size: 30px;
  margin-top: 2%;
}

.playerListHolder {
  list-style-type: none;
  font-size: 20px;
  background-color: rgb(222, 66, 120);
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
}

#playerList {
  list-style-type: none;
  font-size: 23px;
  text-align: center;
}

.loseMessage {
  background-color: red;
  border-radius: 8px;
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 80px;
  position: relative;
  margin-top: -25%;
}

.winMessage {
  background-color: rgb(22, 164, 22);
  border-radius: 8px;
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 80px;
  position: relative;
  margin-top: -25%;
}

.hide {
  display: none;
}

.pageContent {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 2px;

  width: 99%;
  margin: 0 auto;
}

.pageBox {
  /* padding: 5px; */
  width: 80%;
}

@media only screen and (max-width: 1020px) {
  .pageContent {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 2px;

    width: 98%;
    margin: 0 auto;
  }
}

.gameButtons {
}

.howMove {
  font-size: 70px;
}
