body {
  transition: background 1.5s;
}

.screenPlayerListBox {
  background-color: rgb(222, 66, 120);
  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
}

li {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}
